<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="element (btn_text, show_link, add_link, edit_link, delete_link)">
    <li>
        <div class="dropdown">
            <button class="dropbtn" th:text="${btn_text}"></button>
            <div class="dropdown-content">
                <a th:href="${show_link}">Просмотр</a>
                <a th:href="${add_link}">Добавить</a>
                <a th:href="${edit_link}">Изменить</a>
                <a th:href="${delete_link}">Удалить</a>
            </div>
        </div>
    </li>
</div>
<div th:fragment="nav">
    <nav th:if="${is_auth}">
        <ul id="navbar">
            <li><button class="dropbtn" onclick="location.href='/'">Главная</button></li>
            <li th:replace="fragments/navbar::element (${'Водители'}, @{/drivers/show}, @{/drivers/add}, @{/drivers/edit}, @{/drivers/delete})"></li>
            <li th:replace="fragments/navbar::element (${'Виды транспорта'}, @{/transport/types/show}, @{/transport/types/add}, @{/transport/types/edit}, @{/transport/types/delete})"></li>
            <li th:replace="fragments/navbar::element (${'Транспорт'}, @{/transport/show}, @{/transport/add}, @{/transport/edit}, @{/transport/delete})"></li>
            <li th:replace="fragments/navbar::element (${'Остановочные пункты'}, @{/end_points/show}, @{/end_points/add}, @{/end_points/edit}, @{/end_points/delete})"></li>
            <li th:replace="fragments/navbar::element (${'Маршруты'}, @{/routes/show}, @{/routes/add}, @{/routes/edit}, @{/routes/delete})"></li>
            <li th:replace="fragments/navbar::element (${'Расписание'}, @{/schedule/show}, @{/schedule/add}, @{/schedule/edit}, @{/schedule/delete})"></li>
            <li th:replace="fragments/navbar::element (${'Билеты'}, @{/tickets/show}, @{/tickets/add}, @{/tickets/edit}, @{/tickets/delete})"></li>
<!--            <li th:replace="fragments/navbar::element (${'Пользователи'}, @{users/show}, @{users/add}, @{users/edit}, @{users/delete})"></li>-->
            <li><button class="dropbtn" onclick="location.href='/schedule/download'">Скачать расписание</button></li>
        </ul>
    </nav>
</div>
</body>
</html>