<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head">
    <meta charset="utf-8">
</head>
<body>
<header th:replace="fragments/header::header"></header>
<nav th:replace="fragments/navbar::nav"></nav>
<main>
    <div class="clear"></div>
    <div class="card input_block_big">
        <h2 class="input_header">Добавление расписание транспорта</h2>
        <div class="card-header">
            <form th:action="@{/schedule/add/}" th:method="POST">
                <label>Выберите дату:<input type="date" th:value="${add_date}"></label>
                <input type="submit" value="Выбрать" class="btn btn-primary">
            </form>
        </div>
    </div>
    <div th:if="routes">
        <div th:if="${routes != null}">
            <div class="card input_block_big">
                <h2 class="input_header" th:text="${'Добавление маршрутов на дату ' + search_date}">Список маршрутов на дату</h2>
                <div class="card-header">
                    <div th:if="${#lists.size(routes) > 0 && #lists.size(transports) > 0}">
                        <form th:action="@{'/schedule/add/item/' + ${add_date}}" th:method="POST" th:object="${schedule}">
                            <table>
                                <tr>
                                    <td>Маршрут:</td>
                                    <td>
                                        <select th:field="*{route}" size="1">
                                            <option th:each="r: ${routes}" th:text="${r.getRouteNumber()}" th:value="${r.id}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Время отправления:</td>
                                    <td><input type="time" th:field="*{timeStart}"></td>
                                </tr>
                                <tr>
                                    <td>Водитель:</td>
                                    <td>
                                        <select th:field="*{transport}" size="1">
                                            <option th:each="t: ${transports}" th:value="${t.id}" th:text="${t.driver.getFio()}"></option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Направление:</td>
                                    <td>
                                        <select th:field="*{direction}" size="1">
                                            <option value="0">Прямое</option>
                                            <option value="1">Обратное</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2"><input type="submit" value="Добавить" class="btn btn-primary float-end"></td>
                                </tr>
                            </table>
                        </form>
                    </div>
                    <p th:if="${#lists.size(routes) == 0}">На выбранную дату не найдено доступных маршрутов!</p>
                    <p th:if="${#lists.size(transports) == 0}">На предприятии отсутствуют транспортные средства!</p>
                </div>
            </div>
        </div>
        <div th:if="${date_error}" class="card input_block_big">
            <p th:text="${date_error}"></p>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>
</html>