<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="choseList(transport_types)">
    <div class="card edit_block_big">
        <h2 class="input_header">Редактирование вида транспорта</h2>
        <div class="card-header">
            <table th:if="${#lists.size(transport_types) > 0}">
                <tr>
                    <th class="td_input">Название</th>
                    <th class="td_input">Редактировать</th>
                </tr>
                <tr th:each="t : ${transport_types}">
                    <!--/*@thymesVar id="t" type="ru.transportcompany.application.database.models.TransportType"*/-->
                    <td th:text="${t.name}" class="td_input">Троллейбус</td>
                    <td><a th:href="@{'/transport_types/edit/' + ${t.id}}" class="btn btn-primary">Редактировать</a></td>
                </tr>
            </table>
            <p th:if="${#lists.size(transport_types) == 0}">На предприятии отсутствуют виды транспорта!</p>
        </div>
    </div>
</div>
<div th:fragment="byId">
    <div class="card input_block_big">
        <h2 class="input_header">Изменение вида транспорта</h2>
        <div class="card-header">
            <!--/*@thymesVar id="transport_type" type="ru.transportcompany.application.database.models.TransportType"*/-->
            <!--/*@thymesVar id="transportType" type="ru.transportcompany.application.database.models.TransportType"*/-->
            <form name="driver" th:action="@{'/transport_types/edit/' + ${transport_type.id}}" th:object="${transport_type}" th:method="POST">
                <table >
                    <tr>
                        <td class="td_input"><label for="firstName">Название:</label></td>
                        <td class="td_input"><input type="text" id="firstName" name="firstName" th:field="*{name}" th:value="*{name}"/></td>
                    </tr>
                    <tr>
                        <td class="td_input" colSpan="2"><input type="submit" class="btn btn-primary"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>