<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="add_driver">
    <div class="card input_block">
        <h2 class="input_header">Добавление водителя</h2>
        <div class="card-header">
            <!--/*@thymesVar id="driver" type="ru.transportcompany.application.database.models.Driver"*/-->
            <form name="driver" th:action="@{/drivers/add}" th:object="${driver}" th:method="POST">
                <table >
                    <tr>
                        <td class="td_input"><label for="firstName">Имя:</label></td>
                        <td class="td_input"><input type="text" id="firstName" name="firstName" th:field="*{firstName}" th:value="*{firstName}"/></td>
                    </tr>
                    <tr>
                        <td class="td_input"><label for="lastName">Фамилия:</label></td>
                        <td class="td_input"><input type="text" id="lastName" name="lastName" th:field="*{lastName}"  th:value="*{lastName}"/></td>
                    </tr>
                    <tr>
                        <td class="td_input"><label for="patronymic">Отчество:</label></td>
                        <td class="td_input"><input type="text" id="patronymic" name="patronymic" th:field="*{patronymic}"  th:value="*{patronymic}"/></td>
                    </tr>
                    <tr>
                        <td class="td_input" colSpan="2"><input type="submit" class="btn btn-primary"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</body>
</html>