<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/header::header"></header>
<nav th:replace="fragments/navbar::nav"></nav>
<main>
    <div class="clear"></div>

    <div class="card input_block_big">
        <h2 class="input_header">Изменение вида транспорта</h2>
        <div class="card-header">
            <!--/*@thymesVar id="transport_type" type="ru.transportcompany.application.models.database.TransportType"*/-->
            <!--/*@thymesVar id="transportType" type="ru.transportcompany.application.models.database.TransportType"*/-->
            <form name="driver" th:action="@{'/transport/types/edit/' + ${transport_type.id}}" th:object="${transport_type}" th:method="POST">
                <table >
                    <tr>
                        <td class="td_input"><label for="firstName">Название:</label></td>
                        <td class="td_input"><input type="text" id="firstName" name="firstName" th:field="*{name}" th:value="*{name}"/></td>
                    </tr>
                    <tr>
                        <td class="td_input" colSpan="2"><input type="submit" class="btn btn-primary"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>
</html>